/* Importing the Tesla font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Libre Franklin', sans-serif; /* Tesla Font */
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 14px; /* Smaller font size */
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
    background: url('image/vector.jpg') no-repeat center / cover; /* Use provided image */
    color: #ffffff;
    height: 80vh; /* 80% of viewport height */
    text-align: center; /* Center text alignment */
    position: relative;
}

.header-content a {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    color: #8ad7ef; /* Adjust color as needed to make it visible */
    font-size: 8px; /* Adjust size as needed */
    text-decoration: none;
}

.header-content a:hover{
    color: whitesmoke;
}

nav {
    background-color: rgba(25, 149, 173, 0.8); /* Sync with header */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 0.5em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 0.875em;
    font-weight: bold;
}

nav ul li a:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.3);
    color: #ecf0f1;
}

.header-content {
    max-width: 80%; /* Limit width */
}

header .animated-header {
    font-size: 4em; /* Larger font size */
    margin: 0;
}

header .animated-text {
    font-size: 2em; /* Smaller font size */
    margin: 0;
}

main {
    padding: 0;
}

.section {
    padding: 4em 0;
}

.section.bg-dark-grey {
    background-color: #1995AD; /* Individual color */
}

.section.bg-darker-grey {
    background-color: #FA6775; /* Individual color */
}

.section.bg-custom-pink {
    background-color: #A1D6E2; /* Individual color */
}

.section.bg-custom-green {
    background-color: #F1F1F2; /* Individual color */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 1.5em;
    font-size: 24px; /* Smaller font size */
    font-weight: bold;
    text-align: center;
}

.section#about h2 {
    color: #e8b184; /* Different color for each heading */
}

.section#about p{
    color: rgb(240, 240, 240);
    font-size: 16px;
}

.section#skills h2 {
    color: #45d3c0; /* Different color for each heading */
}

.section#projects h2 {
    color: #1f6b93; /* Different color for each heading */
}

.section#contact h2 {
    color: #1995AD; /* Different color for each heading */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1abc9c;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    flex: 0 1 18%; /* Slightly smaller size */
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 12px; /* Smaller font size */
}

.skill-item img {
    width: 40px;
    height: 40px; /* High resolution */
    margin-bottom: 10px;
}

.skill-item .skill-text {
    font-size: 12px; /* Smaller font size */
    margin-top: 5px;
    font-weight: bold;
}

.skill-item:hover {
    transform: scale(1.1); /* Snappy magnification */
    background-color: #16a085;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    animation: fadeIn 2s ease-in-out;
    margin-top: 30px;
}

.project-item {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    flex: 1 1 30%;
}

.project-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    filter: brightness(80%);
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item a {
    color: #3498db; /* Different color for links */
    text-decoration: none;
    font-weight: bold;
}

.project-item a:hover {
    color: #2980b9;
}

.project-item p {
    font-family: 'Roboto', sans-serif; /* Matching font */
    font-size: 12px; /* Smaller font size */
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #F1F1F2; /* Individual color */
    border-radius: 8px;
    padding: 30px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 2px solid #1abc9c;
    border-radius: 4px;
    font-size: 12px; /* Smaller font size */
    background-color: #1c2833;
    color: #ecf0f1;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #95a5a6;
}

.contact-form .send-message-btn {
    padding: 15px 30px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 14px;
}

.contact-form .send-message-btn:hover {
    background-color: #16a085;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.scroll-to-top:hover {
    background-color: #16a085;
}

footer {
    background:#88cdd2; /* Sync with header */
    color: #333;
    text-align: center;
    padding: 4em 0;
    position: relative;
}

footer .container.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

footer p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold; /* Bolder footer text */
}

.footer-contact {
    text-align: center;
    margin-bottom: 10px;
}

.footer-contact p a {
    margin: 0 10px;
    color: #3498db; /* Modern looking color for footer icons */
    text-decoration: none;
    transition: transform 0.3s; /* Adding hover effect */
}

.footer-contact p a:hover {
    transform: scale(1.2); /* Magnify on hover */
    color: #2980b9;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #16a085;
}

.fas, .fab {
    margin-left: 10px;
    color: #3498db;
    transition: color 0.3s, transform 0.3s;
}

.fas:hover, .fab:hover {
    color: #2980b9;
    transform: scale(1.2); /* Magnify on hover */
}

.section#contact p a {
    margin: 0 10px;
    display: inline-block;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-content {
        max-width: 100%;
    }

    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 14px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px;
    }

    .skills-grid {
        flex-direction: column;
    }

    .skill-item {
        flex: 0 1 100%;
    }

    h2 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .footer-contact h2 {
        font-size: 20px;
    }
}

.about-text {
    font-family: 'Libre Franklin', sans-serif; /* Tesla Font */
    font-weight: 300;
    line-height: 1.8;
    color: #333;
    font-size: 14px; /* Smaller font size */
    text-align: center;
}
